[submodule "rewarding-sale-app-docs"]
	path = rewarding-sale-app-docs
	url = https://github.com/NiharikaBalaga/rewarding-sale-app-docs.git
[submodule "rewarding-sale-app-auth-service"]
	path = rewarding-sale-app-auth-service
	url = https://github.com/NiharikaBalaga/rewarding-sale-app-auth-service.git
[submodule "rewarding-sale-app-post-service"]
	path = rewarding-sale-app-post-service
	url = https://github.com/NiharikaBalaga/rewarding-sale-app-post-service.git
[submodule "rewarding-sale-app-search-service"]
	path = rewarding-sale-app-search-service
	url = https://github.com/NiharikaBalaga/rewarding-sale-app-search-service.git
