[submodule "rewarding-sale-app-docs"]
	path = rewarding-sale-app-docs
	url = https://github.com/NiharikaBalaga/rewarding-sale-app-docs.git
[submodule "rewarding-sale-app-auth-service"]
	path = rewarding-sale-app-auth-service
	url = https://github.com/NiharikaBalaga/rewarding-sale-app-auth-service.git
[submodule "rewarding-sale-app-post-service"]
	path = rewarding-sale-app-post-service
	url = https://github.com/NiharikaBalaga/rewarding-sale-app-post-service.git
[submodule "rewarding-sale-app-search-service"]
	path = rewarding-sale-app-search-service
	url = https://github.com/NiharikaBalaga/rewarding-sale-app-search-service.git
[submodule "rewarding-sale-app-rewards-service"]
	path = rewarding-sale-app-rewards-service
	url = https://github.com/NiharikaBalaga/rewarding-sale-app-rewards-service.git
[submodule "rewarding-sale-app-vote-service"]
	path = rewarding-sale-app-vote-service
	url = https://github.com/NiharikaBalaga/rewarding-sale-app-vote-service.git
[submodule "rewarding-sale-app-decision-service"]
	path = rewarding-sale-app-decision-service
	url = https://github.com/NiharikaBalaga/rewarding-sale-app-decision-service.git
[submodule "rewarding-sale-app-report-service"]
	path = rewarding-sale-app-report-service
	url = https://github.com/NiharikaBalaga/rewarding-sale-app-report-service.git
[submodule "rewarding-sale-app-location-service"]
	path = rewarding-sale-app-location-service
	url = https://github.com/NiharikaBalaga/rewarding-sale-app-location-service.git
[submodule "rewarding-sale-app-admin-service"]
	path = rewarding-sale-app-admin-service
	url = https://github.com/NiharikaBalaga/rewarding-sale-app-admin-service.git
[submodule "rewarding-sale-app-admin-react"]
	path = rewarding-sale-app-admin-react
	url = https://github.com/NiharikaBalaga/rewarding-sale-app-admin-react.git
[submodule "rewarding-sale-app-flutter-app"]
	path = rewarding-sale-app-flutter-app
	url = https://github.com/NiharikaBalaga/rewarding-sale-app-flutter-app.git
